* {
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}

.section-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 10rem;
  height: 0.0625rem;
  background:
    color-mix(in srgb, #212529e8, transparent 60%);
  left: 0;
  right: 0;
  bottom: 0.0625rem;
  margin: auto;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.75rem;
  height: 0.1875rem;
  background: #212529e8;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar-nav .nav-link {
  font-weight: normal;
  opacity: 0.85;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  opacity: 1;
}


.contact .contact-form {
  height: 100%;
}

.contact .contact-form input{
  font-size: 0.875rem;
  padding: 0.625rem 1rem;
  box-shadow: none;
  border-radius: 0;
  color: #212529e8;
  background-color: color-mix(in srgb, #ffffff, transparent 50%);
  border-color: color-mix(in srgb, #212529e8, transparent 80%);
}

.contact .contact-form input:focus {
  border-color: #212529e8;
}

.contact .contact-form input::placeholder {
  color: color-mix(in srgb, #212529e8, transparent 70%);
}

.contact .contact-form button[type=submit] {
  color: #ffffff;
  background: #212529e8;
  border: 0;
  padding: 0.625rem 1.875rem;
  transition: 0.4s;
  border-radius: 3.1250rem;
}

.contact .contact-form button[type=submit]:hover {
  background: color-mix(in srgb, #212529e8, transparent 25%);
}

/* Responsive:screens */

@media (max-width: 450px) {
  .navbar {
    min-height: 3.5rem;
    background: #212529e8;
  }

}